<section class="wrapper-large">
  <div
    class="min-h-[25rem] | bg-cover bg-plan-hero md:bg-plan-hero-md lg:bg-plan-hero-lg rounded-10 | text-cream | flex items-center"
  >
    <div
      class="px-6 md:px-14 lg:px-[5rem] mx-auto md:mx-0 | flex flex-col gap-6 | text-center md:text-left"
    >
      <h1 class="text-10 lg:text-12 xl:text-18 font-serif font-black leading-none">
        Create a plan
      </h1>
      <p class="text-base-sm lg:text-base text-cream/80 max-w-[46ch]">
        Build a subscription plan that best fits your needs. We offer an
        assortment of the best artisan coffees from around the globe delivered
        fresh to your door.
      </p>
    </div>
  </div>
</section>
