---
import Layout from "../layouts/main.astro";

import AboutIntro from "../components/about/AboutIntro.astro";
import Commitment from "../components/about/Commitment.astro";
import Quality from "../components/about/Quality.astro";
import Headquarters from "../components/about/Headquarters.astro";
---

<Layout title="About Us">
  <div><AboutIntro /></div>
  <div><Commitment /></div>
  <div><Quality /></div>
  <div><Headquarters /></div>
</Layout>
