---
import Layout from "../layouts/main.astro";

import AboutIntro from "../components/about/AboutIntro.astro";
import Commitment from "../components/about/Commitment.astro";
import Quality from "../components/about/Quality.astro";
import Headquarters from "../components/about/Headquarters.astro";
---

<Layout title="About Us">
  <div class="md:mt-2"><AboutIntro /></div>
  <div class="mt-30 md:mt-36 lg:mt-42"><Commitment /></div>
  <div class="mt-[12.375rem] md:mt-[19rem] lg:mt-64"><Quality /></div>
  <div class="my-30 md:my-36 lg:my-42"><Headquarters /></div>
</Layout>
