---
import Layout from "../layouts/main.astro";

import Hero from "../components/home/Hero.astro";
import CoffeeCollection from "../components/home/CoffeeCollection.astro";
import ChooseUs from "../components/home/ChooseUs.astro";
import HowItWorks from "../components/home/HowItWorks.astro";
---

<Layout>
  <div class="mt-4 sm:mt-5 lg:mt-3">
    <Hero />
  </div>

  <div class="mt-30 sm:mt-36 lg:mt-34">
    <CoffeeCollection />
  </div>

  <div class="mt-30 sm:mt-36 lg:mt-50">
    <ChooseUs />
  </div>

  <div class="pt-30 sm:pt-36 lg:pt-50 pb-30 sm:pb-36 lg:pb-50">
    <HowItWorks />
  </div>
</Layout>
