---
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>TITLE</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon-32x32.png" />

</head>
<body>
    <main>
        <p>Hello World</p>
    </main>
</body>
</html>
