---
import Layout from '../layouts/main.astro';
---
<Layout>
    <h1>Dummy Content</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos enim tempore dolorem molestiae quae illo facilis hic maiores labore, fugit, dolores ea dignissimos in dolor magnam sequi. Corrupti, quae numquam minima nulla deserunt pariatur dolore, qui natus, magni delectus eos! Accusamus, quos. Quisquam, voluptate magnam? Nisi, nihil impedit. Autem, mollitia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos enim tempore dolorem molestiae quae illo facilis hic maiores labore, fugit, dolores ea dignissimos in dolor magnam sequi. Corrupti, quae numquam minima nulla deserunt pariatur dolore, qui natus, magni delectus eos! Accusamus, quos. Quisquam, voluptate magnam? Nisi, nihil impedit. Autem, mollitia!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos enim tempore dolorem molestiae quae illo facilis hic maiores labore, fugit, dolores ea dignissimos in dolor magnam sequi. Corrupti, quae numquam minima nulla deserunt pariatur dolore, qui natus, magni delectus eos! Accusamus, quos. Quisquam, voluptate magnam? Nisi, nihil impedit. Autem, mollitia!</p>
</Layout>

