---
import Layout from "../layouts/main.astro";

import Hero from "../components/plan/Hero.astro";
import HowItWorks from "../components/plan/HowItWorks.astro";
import { SubscribeForm } from "../components/plan/SubscribeForm";
---

<Layout title="Create Your Plan">
  <div><Hero /></div>
  <div><HowItWorks /></div>
  <div><SubscribeForm client:load /></div>
</Layout>
