<div>
  <h2>Why choose us?</h2>
  <p>A large part of our role is choosing which particular coffees will be featured 
      in our range. This means working closely with the best coffee growers to give 
      you a more impactful experience on every level.</p>
  
  <div>
      <div>
          <img src="/assets/home/desktop/icon-coffee-bean.svg" alt="">
          <p>Best quality</p>
          <p>Discover an endless variety of the world’s best artisan coffee from each of our roasters.</p>
      </div>

      <div>
          <img src="/assets/home/desktop/icon-gift.svg" alt="">
          <p>Exclusive benefits</p>
          <p>Special offers and swag when you subscribe, including 30% off your first shipment.</p>
      </div>

      <div>
          <img src="/assets/home/desktop/icon-truck.svg" alt="">
          <p>Free shipping</p>
          <p>We cover the cost and coffee is delivered fast. Peak freshness: guaranteed.</p>
      </div>
  </div>
</div>