<div>
  <h2>Our Collection</h2>
  <ul>
      <li>
          <img src="/assets/home/desktop/image-gran-espresso.png" alt="a bag of gran espresso coffee">
          <p>Gran Espresso</p>
          <p>Light and flavorful blend with cocoa and black pepper for an intense experience</p>
      </li>
      <li>
          <img src="/assets/home/desktop/image-planalto.png" alt="a bag of planalto coffee">
          <p>Planalto</p>
          <p>Brazilian dark roast with rich and velvety body, and hints of fruits and nuts</p>
      </li>
      <li>
          <img src="/assets/home/desktop/image-piccollo.png" alt="a bag of piccollo coffee">
          <p>Piccollo</p>
          <p>Mild and smooth blend featuring notes of toasted almond and dried cherry</p>
      </li>
      <li>
          <img src="/assets/home/desktop/image-danche.png" alt="a bag of danche coffee">
          <p>Danche</p>
          <p>Ethiopian hand-harvested blend densely packed with vibrant fruit notes</p>
      </li>
  </ul>
</div>