---
import { Button } from "../shared/Button.tsx";
---

<section class="wrapper-large">
  <div
    class="px-6 py-[6.125rem] md:py-[6.5rem] lg:py-[7.25rem] md:px-14 lg:px-[5.25rem] rounded-10 | bg-cover bg-hero md:bg-hero-sm lg:bg-hero-md | flex flex-col items-center md:items-start"
  >
    <h1
      class="max-w-[12ch] | font-serif text-cream text-10 md:text-12 lg:text-18 leading-none | text-center md:text-left"
    >
      Great coffee made simple.
    </h1>
    <p
      class="max-w-[45ch] | pt-6 pb-10 lg:pt-8 lg:pb-14 | text-base-sm lg:text-base text-cream/80 text-center md:text-left"
    >
      Start your mornings with the world’s best coffees. Try our expertly
      curated artisan coffees from our best roasters delivered directly to your
      door, at your schedule.
    </p>
    <Button href="/plan">Create your plan</Button>
  </div>
</section>
