<div>
  <h2>How it works</h2>

  <div>
      <div>
          <p>01 Pick your coffee</p>
          <p>Select from our evolving range of artisan coffees. Our beans are ethically sourced and we pay fair prices for them. There are new coffees in all profiles every month for you to try out.</p>
      </div>
      <div>
          <p>02 Choose the frequency</p>
          <p>Customize your order frequency, quantity, even your roast style and grind type. Pause, skip or cancel your subscription with no commitment through our online portal.</p>
      </div>
      <div>
          <p>03 Receive and enjoy!</p>
          <p>We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.</p>
      </div>
  </div>

  <p>Create your plan (!)</p>
</div>