---
import { Button } from "../shared/Button.tsx";

import HowItWorksSteps from "../shared/HowItWorksSteps.astro";
---

<section class="wrapper">
  <h2
    class="text-gray text-6 font-serif font-black leading-tight text-center md:text-left"
  >
    How it works
  </h2>

  <div class="my-20 md:my-10">
    <HowItWorksSteps circleColor={"hsl(43, 78%, 98%)"} />
  </div>

  <div class="text-center md:text-left">
    <button href="/plan">Create your plan</button>
  </div>
</section>
