---
export interface Props {
  title?: string
}

const title = (Astro.props.title ? `${Astro.props.title} - ` : "") + "Coffeeroasters";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/public/assets/favicon-32x32.png" />

    <title>{title}</title>

    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.scss")}>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap" rel="stylesheet">
  </head>


  <body>
    <a href="#main-content">Skip to Main Content</a>

    <header>
			<!-- HEADER STUFF -->
    </header>

    <main id="main-content">
      <slot />
    </main>

    <footer>
			<!-- FOOTER STUFF -->
		</footer>

  </body>
</html>